body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #6d6d6d;
    padding: 1rem 0;
    background-color: yellow;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 1rem;
}

nav a:hover {
    color: #007bff;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.product-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #0080ff;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #e85858;
}

p #main-content {
    background-color: red;
}