<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Porki's Tienda{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/promotions.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div style= "background-color:yellow; color: white; text-align: center;">
        <header>
            <nav>
                <a href="{{ url_for('home') }}">Casa</a>
                <a href="{{ url_for('coupons') }}">Coupons</a>
                <a href="{{ url_for('promotions') }}">Promotions</a>
                <a href="{{ url_for('services') }}">Services</a>
                <a href="{{ url_for('proveedores') }}">Proveedores</a>
            </nav>
        </header>
    </div>
    {% block content %}
    {% endblock %}
    <div style = "background-color:red; text-align: center; color: white;">
        <h1 style="border: solid 8px white; text-align: center; color: white">Porkis Abborrates; Bienvenidos</h1>
            <p>jfwo bwtpiet wugh g u<br>
        erbfofewyowgoyuewbv evbw eigb<br>
    eiuw4giuowrevupwvuvvbweorv bo ur uv ewvu<br></p>
    </div>
    <div class="container" style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; padding: 20px;">
        <div class="box red" style="width: 25%; height: 200px; margin: 20px; display: flex; justify-content: center; align-items: center; background-color: #ff6666;">
          <h2 style="font-size: 2em; text-align: center;"><a href="#" style="text-decoration: none; color: #fff;">Sobre Nosotros</a></h2>
        </div>
        <div class="box green" style="width: 25%; height: 200px; margin: 20px; display: flex; justify-content: center; align-items: center; background-color: #99ff99;">
          <h2 style="font-size: 2em; text-align: center;"><a href="#" style="text-decoration: none; color: #fff;">Coupons</a></h2>
        </div>
        <div class="box blue" style="width: 25%; height: 200px; margin: 20px; display: flex; justify-content: center; align-items: center; background-color: #66b3ff;">
          <h2 style="font-size: 2em; text-align: center;"><a href="#" style="text-decoration: none; color: #fff;">Promotciones</a></h2>
        </div>
        <div class="box yellow" style="width: 25%; height: 200px; margin: 20px; display: flex; justify-content: center; align-items: center; background-color: #421abb;">
          <h2 style="font-size: 2em; text-align: center;"><a href="#" style="text-decoration: none; color: #fff;">Serevicios</a></h2>
        </div>
        <div class="box yellow" style="width: 25%; height: 200px; margin: 20px; display: flex; justify-content: center; align-items: center; background-color: #7c7c7c;">
          <h2 style="font-size: 2em; text-align: center;"><a href="#" style="text-decoration: none; color: #fff;">Les Conocemos</a></h2>
        </div>
        <div class="box yellow" style="width: 25%; height: 200px; margin: 20px; display: flex; justify-content: center; align-items: center; background-color: #8f1940;">
          <h2 style="font-size: 2em; text-align: center;"><a href="#" style="text-decoration: none; color: #fff;">Locacion</a></h2>
        </div> 
      </div>      
    <footer >
        <h4>Check Us Out On Social</h4>
        <a href = "facebook.com">Facebook</a>
        <a href = "instagram.com"> Instagram</a>
    </footer>
</body>
</html>

